@import 'c/hcpStyleUtility';
.header {
    padding-bottom: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    font-size: 26px;
    line-height: 34px;
    font-family: "Galderma",sans-serif;
    font-weight: 400 !important;
}
.orderedListSubHead {
    padding-bottom: 1rem !important;
    padding-top: 0.25rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    font-family: 'Segma',sans-serif !important;
    font-weight: 400;
    font-size: 16px;
}
.instrcutions-list {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-family: 'Segma',sans-serif !important;
    list-style-type: disc;
    font-weight: 400;
    font-size: 16px;
}
.padding-li {
    padding-left: 0.5rem;
}

@media (min-width: 992px) {
    .wid-80 {
        width: 80% !important;
    }
    .wid-90 {
        margin: 33px 0 18px !important;
    }
    .forgot-pwd-confirmation {
        padding-right: 84px !important;
    }
}
.login_link {
    color: #333333 !important;
    font-family: "Segma",sans-serif;
    font-weight: normal;
    font-size: 15px;
}
.forgot_password_link {
    float: right;
    margin: 1em 0;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    margin: auto;
    border: 0.25em solid black;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
    z-index: 10000;
}
.spinner-border {
    display: inline-block;
    height: 2rem;
    vertical-align: -0.125em;
}
.loader {

    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(239 234 234 / 75%);
    z-index: 999999;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
.reset-password-font{
    font-family: Galderma;
    font-size: 26px !important;
    margin-bottom:76px !important;
}